.overlay
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper
{
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
}

.closeButton
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.closeButton:hover
{
    cursor: pointer;
    opacity: 0.7;
}