

.sliderWrapper{
    box-sizing: border-box;
    height: 80%;
}

.sliderContent{
    background-color: antiquewhite;
    height: 100%;
}

.sliderImgContainer{
    width: 100%;
    height: 600px;
    position: relative;
}

.sliderImgContainer img{
    width: 100%;
    height: 100%;
}

.sliderTextWrapper{
    position: absolute;
    top: 25%;
    padding: 10px;
    margin-left: 20px;
}

.sliderTextWrapper h1{
    font-family: 'Courier New', Courier, monospace;
   font-size: 30px;
   font-weight: bold;

}

.btnWrapper{
    display: flex;
    gap: 1em;
}

