.container{
    padding: 10px;
    margin-top: 20px;
}
.cardContent {
    margin: 40px 120px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 10px 28px 10px 5px;
}


/* -------- */
.mealCategory {
    margin-left: 130px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.mealWrapper {
    display: flex !important;
    flex-direction: row !important;
    margin-left: 55px;
}

.mealImg {
    border: 2px solid transparent;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    margin-left: 15px;
}

.active {
    border: 2px solid #3cb815;
    color: #3cb815;
}

.mealName.activeText {
    color: #3cb815;
}

.mealImg:hover {
    transition: transform .3s ease;
    transform: scale(1.05);
}

.mealName {
    text-align: center;
    margin-left: 15px;
    color: #555555;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

/* ---------------------------- */
.hrContent {
    margin-left: 120px;
}

.hrTop {
    width: 4%;
    margin: 40px 20px 8px 0;
    border: 1px solid #3bcc15;
}

.hrBot {
    width: 6%;
    margin: 0 20px 5px 0;
    border: 2px solid #f65005;
}

.textProducts {
    margin-left: 120px;
    font-size: 44px;
    font-family: Lora, serif;
}

.textDevide {
    margin-left: 120px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.textDescription {
    color: #555555;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

/* .categoryContent {
    margin-right: 150px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.textCategory {
    border: 2px solid #3bcc15;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
} */

.cardContent {
    margin: 40px 120px;
}
.cardDetail{
    margin: 0 0 40px 0;
}
.titleProduct{
    font-family: Lora, serif;
    font-size: 15px;
    font-weight: none;
    color: #111111;
    text-align: center;
   
}
.titlePrice{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.priceProduct{
    color: #3cbb15;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
.priceSaleProduct{
    color: #555555;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-decoration: line-through;
    padding-left: 7px;
}
.actionProduct{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.actionDetailProduct{
    display: flex;
    flex-direction: row;
}
.actionIconProduct{
    font-size: 16px;
}
.actionTextProduct{
    color: #555555;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding-left: 7px;
}
.paginationProduct{
    display: flex;
    justify-content: center;
    margin: 5px 0 50px 0;
}