.wrapper
{
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.title
{
    font-size: large;
    font-weight: 700;
    margin-bottom: 1rem;
}

.updateBtn
{
    color: white;
    border-radius: 8px;
    padding: .5rem 1rem;
    flex: 1;
    border: none;
    font-weight: 700;
    background-color: #3cb815;
    margin: .4rem 0;
}

.updateBtn:hover
{
    cursor: pointer;
    opacity: .85;
}

/* shared css */
.smallText
{
    font-size: small;
    font-weight: 400;
}

.marginVertical4
{
    margin-top: .5rem;
    margin-bottom: .5rem;
}