.pendingHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2px;
    padding: 5px;
}


.productWrapper {
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem 0;
    margin-bottom: 10px;
}

.productWrapperHeader {
    background-color: #3cb815;
    color: white;
    padding: 1rem 0;
}

.remove {
    padding: .25rem;
    color: red;
}

.image {
    width: 85px;
    height: 85px;
    margin-left: 30px;
}

.quantity {
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 0;
    border: 1px solid black;
}

/* shared css */
.flexCenter {
    display: flex;
    justify-content: 'center';
    align-items: 'center';
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.textCenter {
    text-align: center;
}

.textNormal {
    font-size: 12px;
    color: #ccc;
    font-family: "Poppins", Arial, sans-serif;
}

.totalBottom {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    padding: 7px 10px;
    font-weight: 500;
}

.shippingImg {
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/5fafbb923393b712b96488590b8f781f.png');
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.shippingContent {
    height: 400px;
    text-align: center;
}

.shippingContainer {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 0.125rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
    height: 500px;
}