.pendingHeader {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 2px;
}


.productWrapper {
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem 0;
    margin-bottom: 30px;
}

.productWrapperHeader {
    background-color: #3cb815;
    color: white;
    padding: 1rem 0;
}

.remove {
    padding: .25rem;
    color: red;
}

.image {
    width: 85px;
    height: 85px;
    margin-left: 30px;
}

.quantity {
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 0;
    border: 1px solid black;
}

/* shared css */
.flexCenter {
    display: flex;
    justify-content: 'center';
    align-items: 'center';
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.textCenter {
    text-align: center;
}

.textNormal {
    font-size: 12px;
    color: #ccc;
    font-family: "Poppins", Arial, sans-serif;
}