.sliderWrapper {
    box-sizing: border-box;
    height: 80%;
}

.sliderContent {
    background-color: antiquewhite;
    height: 100%;
}

.sliderImgContainer {
    width: 100%;
    height: 500px;
    position: relative;
}

.sliderImgContainer img {
    width: 100%;
    height: 100%;
}

.sliderTextWrapper {
    position: absolute;

    /* background-color: red; */
    top: 25%;
    padding: 10px;
    margin-left: 90px;
}

.sliderTextWrapper h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(1.4rem + 3.3vw);
    font-weight: 700 bold;
    line-height: 1.2;
}

.btnWrapper {
    display: flex;
    gap: 1em;
}
.breadcrumb{
    margin-left: 5px;
}
.breadcumbSpan{
    color: #111111;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}
.breadcumbText{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}